.header-container span {
    color:white;
   
  
    cursor:pointer;
}

.toogle{
    background-color: #fff4f5;
    font-style: white;
}

@media only screen and (max-width: 668px) {
   .nav-baar-img img{
       margin-left:170px;
   }
  }
